/* EVENTS SECTION CENTER FIX */
.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Campus color */
.logo .campus {
  color: #1e3a8a; /* Deep Blue */
}

/* Connect color */
.logo .connect {
  color: #38bdf8; /* Light Blue */
  margin-left: 4px;
}

.events {
  padding: 60px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FILTER BUTTONS CENTER */
.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

/* EVENT CARDS CENTER */
.event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* SUBMIT ACTIVITY CENTER FIX */
.submit {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM CENTER & CLEAN */
form {
  background: white;
  padding: 30px;
  width: 420px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.form-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  color: #333;
}


/* INPUT ALIGNMENT */
form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}
section {
  margin-bottom: 80px;
}
